.wrapper {
    border-top: 1px solid #e3e3e4;
    padding-top: 6px;
    margin-top: 8px;
}

.label {
    font-size: 1.4rem;
    font-weight: 700;
    color: #161823bf;
    padding: 8px;
}

.account-item {
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;

    &:hover {
        background: rgba(22, 24, 35, 0.03);
        transition: background-color ease-in-out 200ms;
    }
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 12px;
}

.info {
    flex: 1;
}

.user-name {
    font-size: 1.6rem;
    color: #161823;
    line-height: 1;
}

.check {
    margin-left: 4px;
    color: rgb(32, 213, 236);
    font-size: 1.4rem;
}

.name {
    font-size: 1.2rem;
    color: #161823bf;
}

.more-btn {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--primary);
    padding: 8px;
    cursor: pointer;
}
